<%= form_for (Type.new), remote: true do |f| %>
  <%= f.hidden_field :bench_id, value: Bench.first.id %>
  <%= f.hidden_field :benches_game_id, value: Bench.first.benches_games.first.id %>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="controls">
          <%= f.collection_select :name, Type.select(:name).distinct.order(:name), :name, :name, {} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="controls">
          <%= f.submit 'Add Type' %>
        </div>
      </div>
  </div>
<% end %>