<%= link_to "New Benchmark", new_bench_path if user_signed_in? && current_user.admin?%>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-12">
  <h3>Latest FlightlessMango Benchmarks</h3>
    <% @benchmarks.order(created_at: :desc).each do |bench| %>

      <div class="card">
        <div class="row">
          <div class="col-lg-5 col-sm-12">
            <%= link_to image_tag("", data: { "src" => "https://img.youtube.com/vi/#{bench.youtubeid.gsub("-part2", "")}/mqdefault.jpg"}, class: "lazy img-fluid card-img-top"), bench %>
            </div>
            <div class="col-lg-7 col-sm-12 my-0 mb-n3">
            <div class="card-body px-1 mx-1 pt-0 bt-0">
              <h4 class="card-title"><%= link_to bench.name.truncate(50), bench %></h4>
                  <div class="mt-n3 mb-3" style="height: 43px; overflow: hidden;"><%= bench.text %></div>
                      <div class="row align-items-end">
                    <div class="col-12 ">
                      <strong><%= link_to @mango.username, games_path %></strong><small class="text-muted float-right align-text-bottom"><%= time_ago_in_words(bench.created_at) %> ago</small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <div class="col-4 d-none d-lg-block">
    <h5>Latest User Benchmarks</h5>
    <% @user_benchmarks.where.not(title: NIL).order(created_at: :desc).limit(5).each do |bench| %>
      <div class="card" style="">
        <% if bench.game.steamid.nil? %>
            <%= link_to image_tag(bench.game.image_url, class: 'card-img-top'), game_path(bench.game) %>
        <% else %>
          <%= link_to image_tag("https://steamcdn-a.akamaihd.net/steam/apps/" + bench.game.steamid.to_s + "/header.jpg", class: 'card-img-top'), bench %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to bench.title, bench %></h5>
          <p class="card-text"><%= bench.text.truncate(100) %></p>
          <strong><%=link_to bench.user.username, bench.user %></strong><small class="text-muted float-right"><%= time_ago_in_words(bench.created_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(function($) {
    $("img.lazy").Lazy();
});
</script>