<h3>User Benchmarks</h3>
<%= search_form_for @q, url: user_benchmarks_games_path, html: { method: :post } do |f| %>
<div class="row">
  <div class="col-6 col-sm-4 col-lg-3">
    <%= f.label :name %>
    <%= f.search_field :name_cont, placeholder: "Search Games", class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <%= f.submit "Search", class: "btn btn-mango"%>
  </div>
</div>
<br>
<% end %>
<div class="row">
  <div class="col-12">
    <div id="games_table">
      <%= render partial: 'games/table', locals: {games: @games} %>
    </div>
  </div>
</div>