<script>Chartkick.charts = new Object()</script>
<div id=gameContent>
  <h3 class="text-center" id="gameTitle"><%= benches_game.game.name %></h3>
  <%= line_chart JSON(benches_game.fps),
    points: false, curve: false, download: true, title: 'FPS', xtitle: "Time", ytitle: "FPS",
    id: 'fps', height: '400px', min: benches_game.min %>
  <%= line_chart JSON(benches_game.frametime),
    points: false, curve: false, download: true, title: 'Frame Time', xtitle: "Time", ytitle: "Ms",
    id: 'frametime',height: '400px', min: 1000 / benches_game.max * 0.75 %>
  <% if benches_game.gpu? && benches_game.cpu? %>
    <div class="row">
      <div class="col-6">
        <%= column_chart JSON(benches_game.cpu), title: 'CPU Load', id: 'cpu', max: 100, colors: @benchmark.type_colors, height: '400px', library: { plotOptions: { column: { colorByPoint: true }}} %>
      </div>
      <div class="col-6">
        <%= column_chart JSON(benches_game.gpu), title: 'GPU Load', id: 'gpu', max: 100, colors: @benchmark.type_colors, height: '400px', library: { plotOptions: { column: { colorByPoint: true }}} %>
      </div>
    </div>
  <% end %>
  <%= bar_chart JSON(benches_game.bar), colors: ["#e64b3b", "#3398dc", "#3cb44b"], title: 'Min/Avg/Max', ytitle: "FPS", id: 'bar',
    library: {subtitle: {useHTML: true, text: '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'}}, height: '500px', stacked: false %>

  <div id="gameStats">
    <%= render partial: 'stats', locals: {types: benches_game.types, benches_game_id: benches_game.id} %>
  </div>
</div>

<script>
  var num = 0; 
  var xAxisBoolean = false;
  function addCallback(name, chart){
    switch(name){
      case 'fps':
        subtitleText = '<i class="fas fa-arrow-up" style="color: #00bc8c"></i> More is better';
      break
      case 'frametime':
        subtitleText = '<i class="fas fa-arrow-down" style="color: #00bc8c"></i> Less is better'
      break
      case 'cpu':
        subtitleText = "Average CPU Load";
      break
      case 'bar':
        subtitleText = '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'
        xAxisBoolean = true;
      break
    }
    var newOptions = {
      library: {
        plotOptions: {
            column: {
                colorByPoint: true
            },
        },
        subtitle: {
          useHTML: true,
          text: subtitleText
        },
        xAxis: {
          labels: {
            enabled: xAxisBoolean
          }
        },
        tooltip: {
          formatter: function() {
              var s = '<b>'+ this.x +'</b>';

              $.each(this.points, function(i, point) {
                  s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': ' + Math.round(point.y * 10) / 10;
              });

              return s;
          },
          shared: true
        },
        chart: {
          events: {
            load: function () {
              // num++
              // if (num == (Object.keys(Chartkick.charts).length * 2)){
              //   $('#loadingSpinner').hide()
              //   $('#gameContent').removeClass('d-none')
              //   $('#gameContent').addClass('animated fadeIn')
              // }
            }
          }
        }
      }
    }
  var mergedOptions = jQuery.extend(chart.options,newOptions)
  chart.setOptions(mergedOptions);
  } 
  // $.each(Chartkick.charts, function(name, chart) {
  //   addCallback(name, chart);
  // })

</script>
