<% if @benchmark.apis.count > 1 %>
<nav>
  <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
    <% @benchmark.apis.order(name: :asc).each_with_index do |api, i| %>
        <a class="nav-item nav-link <% if i == 0 %> active <% end %>" id="nav-api-tab-<%= api.id %>" data-toggle="tab" href="#nav-api-<%= api.id %>" role="tab" aria-controls="nav-home" aria-selected="true"><%= api.name %></a>
    <% end %>
    <a class="nav-item nav-link" id="nav-api-tab-total" data-toggle="tab" href="#nav-api-total" role="tab" aria-controls="nav-home" aria-selected="true">Total</a>
  </div>
</nav>
<div class="tab-content" id="pills-tabContent">
  <% @benchmark.apis.order(name: :asc).each_with_index do |api, i| %>
      <div class="tab-pane fade show <% if i == 0 %> active <% end %>" id="nav-api-<%= api.id %>" role="tabpanel" aria-labelledby="nav-api-tab-<%= api.id %>">
        <h3 class="text-center"><%= api.name %></h3>
      </div>
  <% end %>
  <div class="tab-pane fade show" id="nav-api-total" role="tabpanel" aria-labelledby="nav-api-tab-total">
    <h3 class="text-center">Total</h3>
  </div>
</div>
<% end %>
    <% apis_bench = ApisBench.where(api_id: @benchmark.apis.order(name: :asc).first.id, bench_id: @benchmark.id).last.id %>
    <!-- <div id="spider"></div> -->
    <%= line_chart fps_apis_bench_path(apis_bench),
       points: false, curve: false, download: true, title: 'FPS', id: 'fps', xtitle: "Time", ytitle: "FPS",
       library: {yAxis: {min: @benchmark.inputs.minimum(:fps)},subtitle: {useHTML: true, text: '<i class="fas fa-arrow-up" style="color: #00bc8c"></i> More is better'}}, height: '400px' %>
    <%= line_chart full_frametime_apis_bench_path(apis_bench),
       points: false, curve: false, download: true, title: 'Frame Time', id: 'frametime', xtitle: "Time", ytitle: "Ms",
        library: {yAxis: {min: @benchmark.inputs.minimum(:frametime)},subtitle: {useHTML: true, text: '<i class="fas fa-arrow-down" style="color: #00bc8c"></i> Less is better'}}, height: '400px'  %>
    <br>
    <%= bar_chart bar_apis_bench_path(apis_bench), colors: ["#e64b3b", "#ebc71d", "#6639b6", "#3398dc"], title: 'Average', id: 'bar', ytitle: "FPS",
     library: {subtitle: {useHTML: true, text: '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'}}, height: '500px' %> 
    <%= render partial: 'benches/stats_api', locals: {types: ApisBench.where(bench_id: @benchmark.id, api_id: @benchmark.apis.order(name: :asc).first.id).first.types, apis_bench_id: ApisBench.where(bench_id: @benchmark.id, api_id: @benchmark.apis.order(name: :asc).first.id).first.id} %>
    <%#= render 'spidergraph' %>
    
<script type="text/javascript">
  $('#spider').hide()
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function animateGraph(){
    await sleep(5000)
    for (var i = Highcharts.charts[0].series.length - 1; i >= 0; i--) {
      Highcharts.charts[0].series[i].show()
      await sleep(2500)
    }
  }
  
  $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
    if(this.id == "nav-api-tab-total"){
      charts = ['fps', 'frametime', 'bar']
      $.each(charts, function (i, value){
        chart = Chartkick.charts[value]
        if(value == 'bar'){
          chart.updateData('/benchmarks/<%= @benchmark.id %>/' + 'totalbar')
        }
      })
      $('#fps').hide()
      $('#frametime').hide()
      $('#spider').show()
      $('#stats-table').html('<%= j render partial: 'benches/stats_total', locals: {types: BenchesGame.where(bench_id: @benchmark.id).first.types, benches_game_id: BenchesGame.where(bench_id: @benchmark.id).first.id} %>')
    }
    <% @benchmark.apis.order(name: :asc).each_with_index do |api, i| %>
        if(this.id == "nav-api-tab-<%= api.id %>"){
          $('#spider').hide()
          $('#fps').show()
          $('#frametime').show()
          $('#bar').show()
          $('#stats-table').html('<%= j render partial: 'benches/stats_api', locals: {types: ApisBench.where(bench_id: @benchmark.id, api_id: api.id).first.types, apis_bench_id: ApisBench.where(bench_id: @benchmark.id, api_id: api.id).first.id} %>')
          charts = ['fps', 'frametime', 'bar']
          $.each(charts, function (i, value){
            chart = Chartkick.charts[value]
            <% if api.inputs.count > 5000 %>
              chart.updateData('/apis_benches/<%= ApisBench.where(api_id: api.id, bench_id: @benchmark.id).last.id  %>/' + value)
            <% else %>
              if(value == 'bar'){
                chart.updateData('/apis_benches/<%= ApisBench.where(api_id: api.id, bench_id: @benchmark.id).last.id  %>/' + value)
              } else {
                chart.updateData('/apis_benches/<%= ApisBench.where(api_id: api.id, bench_id: @benchmark.id).last.id  %>/' + 'full_' + value)
              }
            <% end %>
          })
        }
      <% end %>
  })
</script>