<table class="table table-bordered" id="stats-table-game-<%= benches_game.id %>" <% if params[:action] == "stats" %> style="width: 600px; height: 315px;" <% end %>>
 <thead class="thead-dark">
    <tr>
        <th>Color</th>
        <th>Name</th>
        <!-- <th class="d-none d-sm-block">Min</th> -->
        <% unless params[:action] == "stats" %>
          <th class="d-none d-md-block">1% Min</th>
        <% end %>
        <th>Avg</th>
        <% unless params[:action] == "stats" %>
          <th class="d-none d-md-block">97th percentile</th>
        <% end %>
        <% if @benchmark == benches_game %>
          <% compare = Variation.find(benches_game.compare_id) %>
        <% else %>
          <% compare = Variation.find(benches_game.compare_id) %>
        <% end %>
        <th> Avg % vs <%= compare.name %>
    </tr>
  </thead>
  <tbody style="color: white;">
    <% benches_game.variations.order(name: :asc).each do |type| %>
    <tr>
      <td style="background-color: <%= type.color %>; width: 5%;"></td>
      <td><%= type %></td>
      <% unless params[:action] == "stats" %>
        <td class="d-none d-md-block"><%= type.onemin %></td>
      <% end %>
      <td><%= type.avg %></td>
      <% unless params[:action] == "stats" %>
        <td class="d-none d-md-block"><%= type.ninetyseventh %></td>
      <% end %>
      <td><%= type.compared %>%</td>
    </tr>
    <% end %>
  </tbody>
</table>
