<table class="table table-bordered" id="stats-table-total" <% if params[:action] == "stats" %> style="width: 600px; height: 315px;" <% end %>>
 <thead class="thead-dark">
    <tr>
        <th>Color</th>
        <th>Name</th>
        <% unless params[:action] == "stats" %>
          <th class="d-none d-md-block">1% Min</th>
        <% end %>
        <th>Avg</th>
        <% unless params[:action] == "stats" %>
          <th class="d-none d-md-block">97th percentile</th>
        <% end %>
          <% compare = Variation.find(@benchmark.benches_games.first.compare_id) %>
          <th> Avg % vs <%= compare.name %>
    </tr>
</thead>
<tbody style="color: white;">
  <% json_data = JSON(@benchmark.totalbar) %>
  <% compare_index = 0 %>
  <% compare_json = json_data[1]["data"].each_with_index do |val, i|%>
  <% compare_index = i if val.first[1] == compare.name %>
  <% end %>
    <% @benchmark.benches_games.first.variations.order(:name).each_with_index do |type, i| %>
    <tr id="<%= type.id %>">
      <td style="background-color: <%= type.color %>; width: 5%;"></td>
      <td><%= type %></td>
      <% unless params[:action] == "stats" %>
        <td class="d-none d-md-block"><%= json_data[0]["data"][i]["1"] %></td>
      <% end %>
      <td><%= json_data[1]["data"][i]["1"] %></td>
      <% unless params[:action] == "stats" %>
        <td class="d-none d-md-block"><%= json_data[2]["data"][i]["1"] %></td>
        <% end %>
      <td>
        <%= ((json_data[0]["data"][i]["1"].to_f / json_data[0]["data"][compare_index]["1"].to_f) * 100).round(2) %>%
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
