<% if user_signed_in? && current_user.admin?  %>
   <%= link_to "Edit", edit_bench_path(@benchmark), class: 'btn btn-success' %>
<% end %>
<% unless @benchmark.description.blank? %>
  <%= render 'modal_description' %>
  <button type="button" class="btn btn-mango" data-toggle="modal" data-target="#descriptionModal">
    Benchmark Description
  </button>
<% end %>

<a class="btn btn-lg btn-primary float-right" href="https://www.youtube.com/watch?v=<%= @benchmark.youtubeid %>" role="button" style="background-color: #cc0000;" id="youtubeButton"><strong>Youtube</strong></a>
<br><br>
<h2 style="text-align: center;"><%= @benchmark.name %></h2>
<%
=begin%>
 <h6 style="text-align: center;">Data without recording</h6> 
<%
=end%>
<br>
<% unless @benchmark.inputs.empty? %>
  <% if @benchmark.apis.count > 1 %>
    <%= render 'graphs_apis' %>
  <% else %>
  <% if @benchmark.games.count > 1 %>
  <nav>
    <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
      <% @benchmark.games.order(name: :asc).each_with_index do |game, i| %>
      <a class="nav-item nav-link <% if i == 0 %> active <% end %>" onclick="" data-remote="true" id="nav-game-tab-<%= game.id %>-bench-<%= @benchmark.id %>" data-toggle="tab" href="<%= bench_path(@benchmark) %>?game=<%= game.id %>&type=full" role="tab" aria-controls="nav-home" aria-selected="true"><%= game.name %></a>
      <% end %>
      <a class="nav-item nav-link" onclick="" data-remote="true" id="nav-game-tab-total-bench-<%= @benchmark.id %>" data-toggle="tab" href="<%= bench_path(@benchmark) %>?game=total&type=full" role="tab" aria-controls="nav-home" aria-selected="true">Total</a>
    </div>
  </nav>
  <div class="tab-content" id="pills-tabContent" style="padding: 25px 0px 0px;">
      <% benches_game = BenchesGame.where(game_id: @benchmark.games.order(name: :asc).first.id, bench_id: @benchmark.id).last %>
      <%# if browser.device.mobile? %>
      <%#= render partial: 'graphs_mobile', locals: {benches_game: benches_game} %>
      <%# else %>
      <%= render partial: 'graphs', locals: {benches_game: benches_game} %>
      <%# end %>
      
    </div>
    <!-- <div id="loadingSpinner" class="loader" style="margin-top: 50px; margin-bottom: 200px;"></div> -->
    <% else %>
    <!-- <div id="loadingSpinner" class="loader" style="margin-top: 50px; margin-bottom: 200px;"></div> -->
      <% benches_game = BenchesGame.where(game_id: @benchmark.games.first.id, bench_id: @benchmark.id).last %>
      <%# if browser.device.mobile? %>
        <%#= render partial: 'graphs_mobile', locals: {benches_game: benches_game} %>
      <%# else %>
        <%= render partial: 'graphs', locals: {benches_game: benches_game} %>
      <%# end %>
    <% end %>
  <% end %>
<% end %>