<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
        <%= image_tag('FlightlessSmallNav.png', width: '40') %>
      FlightlessMango
    </a>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Benchmarks <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games">Games <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games/user_benchmarks">User Benchmarks <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Mango Sources
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item disabled" href="">DXVK Hud</a>
             <a class="dropdown-item" href="https://github.com/flightlessmango/dxvk/" target="_blank" rel="noopener noreferrer">GitHub</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item disabled" href="">Mesa Hud</a>
             <a class="dropdown-item" href="https://github.com/flightlessmango/mesa/tree/mango/src/vulkan/overlay-layer" target="_blank" rel="noopener noreferrer">GitHub</a>
             <a class="dropdown-item" href="https://github.com/flightlessmango/PKGBUILDS/blob/master/vulkan-mesa-layer-mango/PKGBUILD" target="_blank" rel="noopener noreferrer">PKGBUILD</a>
            <div class="dropdown-divider"></div>
             <a class="dropdown-item disabled" href="">Website</a>
             <a class="dropdown-item" href="https://github.com/flightlessmango/flightlessmango.com" target="_blank" rel="noopener noreferrer">GitHub</a>
           </div>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="https://discord.gg/Gj5YmBb" target="_blank" rel="noopener noreferrer">Discord</a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= current_user.username.capitalize %>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <% if current_user.admin? %>
             <%= link_to('Dashboard', dashboard_users_path, class: 'dropdown-item') %>
             <% end %>
             <%= link_to('My Benchmarks', current_user, class: 'dropdown-item') %>
             <div class="dropdown-divider"></div>
             <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
         </div>
         </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br>