<!DOCTYPE html>
<html>
  <head>
    <script data-ad-client="ca-pub-8661892565360843" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>FlightlessMango</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'charts', 'data-turbolinks-track': 'reload' if params[:action] == "show" || params[:action] == "video_line" ||
                                params[:action] == "video_bar" || params[:action] == "video_total" %>
    <%#= javascript_include_tag 'https://cdn.plot.ly/plotly-basic-1.57.0.min.js', 'data-turbolinks-track': 'reload' if params[:action] == "show" || params[:action] == "video_line" ||
                                params[:action] == "video_bar" || params[:action] == "video_total"%>
    <%= favicon_link_tag asset_path('favicon.png'), 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <%= render 'layouts/header' unless params[:action] == "recording" || params[:action] == "video_line" || params[:action] == "video_bar" %>
    <% if params[:action] == "recording" %>
      <div class="container-fluid">
    <% else %>
      <div class="container" id="main-container">
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>

<% if user_signed_in? %>
  <% ActionCable.server.broadcast 'user_channel_' + User.first.id.to_s, update: current_user.id %>
  <% current_user.update(url: request.path) %>
<% end %>